<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770824008817-artote5bihtknhkeefjlco2h08l2oftq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770824008817-artote5bihtknhkeefjlco2h08l2oftq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770824008817-l7ftftn12j16f2d4l03oiqd1tsau0jif.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMopIV3yoT3H4zGIy_hVy8kPtn4tEOwjE</string>
	<key>GCM_SENDER_ID</key>
	<string>770824008817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yws.wedeck005</string>
	<key>PROJECT_ID</key>
	<string>wedeck-a6a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>wedeck-a6a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770824008817:ios:0017d602c4141b8aded7d0</string>
</dict>
</plist>